@import url('https://fonts.googleapis.com/css?family=Amiri:400,400i,700,700i|Crimson+Text:400,400i,600,600i,700,700i|Homemade+Apple|Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');



body {
  font-family: 'Poppins', sans-serif;
  color: #444444;
}

a {
  color: #106eea;
  text-decoration: none;
}

a:hover {
  color: #3b8af2;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #106eea;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/


.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #106eea;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #3284f1;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


.bnr-web {width:100%;}

.close {border: none; right: 0px; position: absolute; top: 0px; z-index: 999;}


/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #000000;
  height: 60px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
  padding: 0;
  border-bottom:1px solid #00245d;
}

#topbar img {width:84%;}

.logo-p {/*margin-top:-20px; display:flex; align-items:center; justify-content:center;*/ position:absolute; top:42px;}

.logo-p img {width:96% !important;}

#topbar .contact-info i {
  font-style: normal;
  color: #fff;
}

#topbar .contact-info i a,
#topbar .contact-info i span {
  padding-left: 5px;
  color: #fff;
}

#topbar .contact-info i a {
  line-height: 0;
  transition: 0.3s;
  transition: 0.3s;
}

#topbar .contact-info i a:hover {
  color: #fff;
  text-decoration: underline;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.7);
  line-height: 0;
  transition: 0.3s;
  margin-left: 20px;
}

#topbar .social-links a:hover {
  color: white;
}




/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#main-header {width: 100%; background: url("../img/hero-bg1.jpg"); background-size: cover;}


.arrow {bottom: 0; color:#000; margin-left:2px; width: 12px; height: 12px; background-size: contain; top:15px; display:
inline;}

.segunda{margin-left: -3px; animation-delay:0.3s;}

.next {
width:9px;
height:9px;
margin-top:0px;
}

.next i {color:#0018ff; font-weight:bold !important; font-size:12px;}

.bl:before {font-weight:bold !important;}



@keyframes bounceAlpha {
  0% {opacity: 1; transform: translateX(0px) scale(1);}
  25%{opacity: 0; transform:translateX(10px) scale(0.9);}
  26%{opacity: 0; transform:translateX(-10px) scale(0.9);}
  55% {opacity: 1; transform: translateX(0px) scale(1);}
}

.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:2s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arrow.primera.bounceAlpha {
    animation-name: bounceAlpha;
    animation-duration:2s;
    animation-delay:0.4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

.arw-three {margin-left: -3px; animation-delay: 0.2s !important;}

.arw-four {margin-left: -3.6px; animation-delay: 0.1s !important;}

.news {
  height: 36px;
  overflow: hidden;
  -webkit-user-select: none
} 

.news strong{
  height: 36px;
  overflow: hidden;
  -webkit-user-select: none;
  font-size:12px;
  color:#333;
} 

.introducing {font-size: 11px; font-weight: 500; display: flex; align-items: center; font-style: italic;  justify-content: right;}

.news span {
  float: left;
  color: #000;
  padding: 6px 0px 0px 0px;
  position: relative;
  top: 8%;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  cursor: pointer;
  left: 8%;
  font-weight:600;
}

.news ul {
margin-left:140px;
  animation: ticker 12s ease-in-out infinite;
  -webkit-user-select: none
}

.news ul li {line-height: 30px; list-style: none }

.news ul li a {
  color: #000;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
  font-size:12px;
  opacity:.72;
  margin-right:6px;
  font-weight:500;
}

.news ul li a:hover {opacity:1;}

.scrolled-offset {
  margin-top: 70px;
}

@keyframes ticker {
	0%   {margin-top: 1px}
	40%   {margin-top: 1px}
	45%  {margin-top: -30px}
	85%  {margin-top: -30px}
	100% {margin-top: 1px}
}

.news ul:hover { animation-play-state: paused }
.news span:hover+ul { animation-play-state: paused }

.pos-rel {position:relative;}

.logo-m {background: #002f79; width:260px; height: 96px; position: absolute; top: -44px; z-index: 0; display: flex; align-items: center; justify-content: center; box-shadow: 0px -12px 8px 0px rgba(0, 0, 0, 0.36);}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
  justify-content:right;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 10px 0 10px 18px;
}

.pt-5px {padding-top:5px;}

.navbar a,
.navbar a:focus {
  display: flex;
  font-family: 'Montserrat';
  align-items: center;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  white-space: nowrap;
  transition: 0.3s;
  position: relative;
  text-transform:uppercase;

}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 3px;
}

.navbar>ul>li>a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0px;
  left: 0;
  background-color: #106eea;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #106eea;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 18px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
padding: 10px 24px 10px 12px;
font-weight: 500;
color: #000;
text-transform: capitalize;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #106eea;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
	
#topbar img {width: 84%; margin-top:-8px;}

.navbar a, .navbar a:focus {font-size: 12px !important;}

.navbar a i, .navbar a:focus i {font-size: 12px !important; margin-left: 3px!important;}

.navbar > ul > li {padding: 10px 0 10px 14px !important;}
  
}

@media (max-width: 1900px) {
	
  .navbar .bcd ul {
    left: -90%;
  }
  
  .navbar .bcd:hover>ul {
    left: -60%;
  }
	
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
  
    .navbar .dropdown .xyz:hover>ul {
    left: -192%;
  }
  
    .navbar .dropdown .cde:hover>ul {
    left: -146%;
  }
  
  .navbar a, .navbar a:focus {font-size: 13px;}
  
  .navbar a i, .navbar a:focus i {font-size: 13px; margin-left: 6px;}
  
  .navbar > ul > li {padding: 10px 0 10px 20px;}
  
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile>ul>li {
  padding: 0;
}

.navbar-mobile a:hover:before,
.navbar-mobile li:hover>a:before,
.navbar-mobile .active:before {
  visibility: hidden;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #106eea;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #106eea;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  background: url("../img/hero-bg.jpg");
  background-size: fixed;
  padding:0px;
  overflow:hidden;
}

.map-ind {margin-top:20px;}

.map-ind img {width:140%;}


#hero .container {
  position: relative;
}

#hero h1 {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#hero h1 span {
  color: #106eea;
}

#hero h2 {
color: #555555;
margin: 5px 0 6px 0;
font-size: 15px;
font-weight: 400;
line-height:24px;
font-family: "Poppins", sans-serif;
}

#hero h2 span {font-size:13px; font-style:italic;}

#hero .btn-get-started01 {
background: #00791c !important;
margin: 6px 0 0px 12px !important;
}

#hero .btn-get-started02 {
background: #002f79 !important;
margin: 6px 0 0px 12px !important;
color: #ffda00 !important;
}

#hero .btn-get-started02:hover {
  background: #106eea !important;
  color: #ffffff !important;
}

#hero .btn-get-started {
font-family: 'Montserrat';
text-transform: uppercase;
font-weight: 700;
font-size: 12px;
letter-spacing: 0px;
display: inline-block;
padding: 9px 14px;
border-radius: 20px;
transition: 0.5s;
color: #fff;
background: #106eea;
margin: 6px 0 0px 0;
letter-spacing: -.3px;
}

#hero .btn-get-started:hover {
  background: #002f79;
}

#hero .btn-watch-video {
  font-size: 16px;
  transition: 0.5s;
  margin-left: 25px;
  color: #222222;
  font-weight: 600;
  display: flex;
  align-items: center;
}

#hero .btn-watch-video i {
  color: #106eea;
  font-size: 32px;
  transition: 0.3s;
  line-height: 0;
  margin-right: 8px;
}

#hero .btn-watch-video:hover {
  color: #106eea;
}

#hero .btn-watch-video:hover i {
  color: #3b8af2;
}

.hindi-news {max-height:124px;}

.blink_me {
  animation: blinker 1s linear infinite; color:#ff0000; font-size:12px; font-style:italic; position:absolute; right:10px; top:-10px; font-weight:600;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media (min-width: 1024px) {
  #hero {
    
  }
}

@media (max-width: 768px) {
  #hero {
    height: 100vh;
  }

  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .btn-get-started,
  #hero .btn-watch-video {
    font-size: 13px;
  }
}

@media (max-width: 600px) {
	
#hero {height:100%;}

.logo-m {top:-12px !important; box-shadow:none !important;}

.news {height:72px;}

.news ul {margin-left:72px;}

.news ul li {line-height: 14px; margin-top:8px;}

.news ul li a {font-size:10px;}

.news span {top:9%; left:0;}


@keyframes ticker {
	0%   {margin-top: 1px}
	20%   {margin-top: 1px}
	25%  {margin-top: -55px}
	45%  {margin-top: -55px}
	50%  {margin-top: -96px}
	70% {margin-top: -96px}
	75% {margin-top: -152px}
	95% {margin-top: -152px}
	100% {margin-top: 1px}
}

.logo-p {top: 72px;}

.logo-p img {width: 66% !important;}

.map-ind {position: absolute; top: 232px; z-index: 0; left: 84px;}

.map-ind img{width:100%;}

.mob-hdr {margin-top: 198px; z-index: 1;}

#hero h1 {font-size: 24px; line-height: 18px;}

#hero h2 {font-size: 13px; line-height: 20px; margin-bottom: 0px;}

#hero h2 span {font-size: 11px;}

#hero .btn-get-started {font-size: 11px; letter-spacing: 1px; display: inline-block; padding: 8px 16px;}

section {padding: 24px 0 36px 0 !important;}

.main-title h3 {margin: 0; font-size: 18px !important; line-height: 24px;}

.main-title h3 strong {display: block;}

.main-title h3 span {position: absolute !important; right: 30px; top: 0; margin-left: 0 !important;}

.extra-top {top:56px !important;}

.main-title h3 span:before {top:3px !important;}

.clients img {max-width: 84% !important;}

#footer .footer-top {padding: 30px 0 30px 0 !important;}

#footer .footer-top .footer-links {display: none;}

#footer .footer-newsletter {margin-top: 24px;}



}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 36px 0 45px 0;
}

.section-bg {
  background-color: #f6f9fe;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #106eea;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

.main-title02 h3 {
font-size: 24px;
color: #000;
text-align: center;
font-weight: 300;
position: relative;
padding-bottom: 15px;
margin:15px 0 15px 0;
}

.main-title02 h3::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}


.main-title02 h3::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0053c1;
  bottom: 0;
  left: calc(50% - 20px);
}

.main-title02 h3 strong {
  color: #0053c1;
  font-weight:700;
}


.main-title {
  text-align: left;
  padding-bottom: 30px;
  color:#000;
  position:relative;
}

.main-title:after { 
  content: "";
  display:block;
  border-bottom: 3px solid #0053c1;
  width:72px;
  border-radius:3px;
margin-top:8px;
}

.main-title h3 {
  margin: 0;
  font-size: 24px;
  font-weight: 300;

}

.main-title h3 strong {
  color: #0053c1;
  font-weight:700;
}




.main-title h3 span {
  padding-bottom: 0px !important;
  display: inline-block;
  position: relative;
  margin-left: 24px;
}

.main-title h3 span a{
color:#0018ff; font-size:13px; font-weight:500; padding-bottom:0px !important;
}

.main-title h3 span:after
{
display:block;
content: '';
border-bottom: solid 2px #0018ff;  
transform: scaleX(0);  
transition: transform 250ms ease-in-out;
display: block;
}

.main-title h3 span:hover:after{transform: scaleX(1);}
.main-title h3 span.fromRight:after{ transform-origin:87.4% 0%; }
.main-title h3 span.fromLeft:after{ transform-origin:  0% 100%; }


.main-title h3 span:before{
content: '\F285';
position: absolute;
right: -14px;
top: 11px;
transition: all .3s ease;
font-family: bootstrap-icons !important;
font-weight: bold;
font-size:13px;
color:#0014d3;
}

.main-title h3 span:hover:before{
  position: absolute;
  right: -20px;
  top: 11px;
  transition: all .3s ease;
}




.main-title01 {
  text-align: left;
  padding-bottom: 30px;
  position:relative;
}

.main-title01:after { 
  content: "";
  display:block;
  border-bottom: 3px solid #3ba934;
  width:48px;
  border-radius:3px;
margin-top:12px;
}

.main-title01 h3 {
  margin: 5px 0 0 0;
  font-size: 16px;
  font-weight: 600;
}

.main-title-blk {color:#000;}

.main-title01 h3 strong {
  color: #3ba934;
  font-weight:700;
}


.main-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}



.main-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}


@media (min-width: 1024px) {
.section-title p {width: 50%;}
.main-title p {width: 50%;}
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f6fe;
  min-height: 40px;
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
#featured-bg {background: #eeeeee url(../img/bg-new.jpg) center	center; background-size:cover;}

.bnr {position:relative; z-index:1; overflow:hidden;}

.bnr img{width:100%; border-radius:12px;}



.bnr01 {margin-top:12px; position:relative; z-index:1; overflow:hidden;}

.bnr01 img{width:100%; border-radius:12px;}

.bnr01::before {
  content: "Message from CEO";
  position: absolute;
  border-radius:12px;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:13px;
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 700;
}

.bnr01:hover::before {
  background: rgba(89, 185, 84, 0.84);
  background-size:cover;
  top: 0;
  color:#fff;
  z-index:2;
  border-radius:12px;
  text-decoration:underline;
}


.bnr02 {margin-top:12px; position:relative; z-index:1; overflow:hidden;}

.bnr02 img{width:100%; border-radius:12px;}

.bnr02::before {
  content: "Spotlight";
  position: absolute;
  border-radius:12px;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:24px;
  font-family: 'Satisfy';
  font-weight: 500;
}

.bnr02:hover::before {
  background: rgba(0, 54, 125, 0.6);
  background-size:cover;
  top: 0;
  color:#fff;
  z-index:2;
  border-radius:12px;
  text-decoration:underline;
}


.play-btn {
  width: 102px;
  height: 102px;
  background: radial-gradient(#f82249 50%, rgba(255, 255, 255, 0.84) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  overflow: hidden;
  z-index: 12;
  left: 112px;
  top: 12px;
}

.play-btn::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.play-btn:before {
  content: "";
  position: absolute;
  width: 130px;
  height: 130px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 2px solid rgba(0, 139, 255, .5);
  top: -12%;
  left: -14%;
  background: rgba(198, 16, 0, 0);
}

.play-btn:hover::after {
  border-left: 15px solid #f82249;
  transform: scale(20);
}

.play-btn:hover::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 20px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}



.featured-services .icon-box {
  padding: 18px;
  position: relative;
  overflow: hidden;
background: transparent url(../img/hero-bg.jpg) center center;
background-size:cover;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  border:1px solid #9ef1ff;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: "";
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #2ca909;
  top: 0;
  border-radius: 8px;
  color:#fff;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.featured-services .title {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 16px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  padding-bottom:8px;
}

.featured-services .description a{
color:#000000;
}

.featured-services span {
  padding-bottom: 0px !important;
  display: inline-block;
  position: relative;
}

.featured-services span a{
color:#0018ff; font-size:13px; font-weight:500; padding-bottom:0px !important;
}

.featured-services span:after
{
display:block;
content: '';
border-bottom: solid 2px #fff;  
transform: scaleX(0);  
transition: transform 250ms ease-in-out;
display: block;
}

.featured-services span:hover:after{}
.featured-services span.fromRight:after{ transform-origin:87.4% 0%; }
.featured-services span.fromLeft:after{ transform-origin:  0% 100%; }


.featured-services span:before{
content: '\F285';
position: absolute;
right: -14px;
top: 4px;
transition: all .3s ease;
font-family: bootstrap-icons !important;
font-weight: bold;
font-size:13px;
color:#0014d3;
}


.featured-services .icon-box:hover .title a,
.featured-services .icon-box:hover .description a, .featured-services .icon-box:hover span a{
  color: #fff;
}

.featured-services .icon-box:hover span:before {
  position: absolute;
  right: -20px;
  top: 4px;
  transition: all .3s ease;
  color:#fbad18;
}

.featured-services .icon-box:hover span:after {

transform: scaleX(1);	
	
}





.featured-services01 .icon-box {
  padding: 18px;
  position: relative;
  overflow: hidden;
  background:transparent url(../img/01.jpg) center center;
  background-size:cover;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.2s ease;
  border-radius: 8px;
  z-index: 1;
}

.featured-services01 .icon-box:hover {

  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.30);
  transition: all 0.2s ease;

}

.box02 {background:transparent url(../img/02.jpg) center center !important;}

.box03 {background:transparent url(../img/03.jpg) center center !important;}

.featured-services01 .icon-box::before {
  content: "";
  position: absolute;
  /*background: #cbe0fb;*/
  border:1px dashed #cc0000;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
  color:#ffffff;
}

.featured-services01 .icon-box:hover::before {
  /*background: #106eea;*/
  border:1px dashed #106eea;
  top: 0;
  border-radius: 8px;
  color:#106eea;
}

.featured-services01 .icon {
  margin-bottom: 15px;
}

.featured-services01 .icon i {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.featured-services01 .title {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 16px;
}

.featured-services01 .title a {
  color: #111;
}

.featured-services01 .description {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 0;
  font-weight:500;
  padding-bottom:8px;
}

.featured-services01 .description a{
color:#000000;
}

.featured-services01 span {
  padding-bottom: 0px !important;
  display: inline-block;
  position: relative;
}

.featured-services01 span a{
color:#0018ff; font-size:13px; font-weight:500; padding-bottom:0px !important;
}

.featured-services01 span:after
{
display:block;
content: '';
border-bottom: solid 2px #0018ff;  
transform: scaleX(0);  
transition: transform 250ms ease-in-out;
display: block;
}

.featured-services01 span:hover:after{}
.featured-services01 span.fromRight:after{ transform-origin:87.4% 0%; }
.featured-services01 span.fromLeft:after{ transform-origin:  0% 100%; }


.featured-services01 span:before{
	
content: '\F285';
position: absolute;
right: -14px;
top: 4px;
transition: all .3s ease;
font-family: bootstrap-icons !important;
font-weight: bold;
font-size:13px;
color:#0014d3;

}


.featured-services01 .icon-box:hover .title a,
.featured-services01 .icon-box:hover .description a, .featured-services .icon-box:hover span a{
  
}

.featured-services01 .icon-box:hover span:before {
	
right: -20px;
top: 4px;
transition: all .3s ease;

}

.featured-services01 .icon-box:hover span:after {

transform: scaleX(1);	
	
}



.featured-services02 .icon-box {
padding: 15px;
position: relative;
overflow: hidden;
background: #fff;
box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08);
transition: all 0.3s ease-in-out;
border-radius: 8px;
z-index: 1;
}

.featured-services02 .icon-box:hover {

  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.30);
  transition: all 0.2s ease;

}



.featured-services02 .icon-box::before {
  content: "";
  position: absolute;
  /*background: #cbe0fb;*/
  border:1px dashed #cc0000;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
  color:#ffffff;
}

.featured-services02 .icon-box:hover::before {
  /*background: #106eea;*/
  border:1px dashed #106eea;
  top: 0;
  border-radius: 8px;
  color:#106eea;
}

.featured-services02 .icon {
  margin-bottom: 15px;
}

.featured-services02 .icon img {width:100%;}

.featured-services02 .icon i {
  font-size: 48px;
  line-height: 1;
  color: #106eea;
  transition: all 0.3s ease-in-out;
}

.featured-services02 .title {
  font-weight: 600;
  margin-bottom: 8px;
  font-size: 16px;
}

.featured-services02 .title a {
  color: #111;
}

.featured-services02 .description {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 0;
  font-weight:500;
  padding-bottom:8px;
}

.featured-services02 .description a{
color:#000000;
}

.featured-services02 span {
  padding-bottom: 0px !important;
  display: inline-block;
  position: relative;
}

.featured-services02 span a{
color:#0018ff; font-size:13px; font-weight:500; padding-bottom:0px !important;
}

.featured-services02 span:after
{
display:block;
content: '';
border-bottom: solid 2px #0018ff;  
transform: scaleX(0);  
transition: transform 250ms ease-in-out;
display: block;
}

.featured-services02 span:hover:after{}
.featured-services02 span.fromRight:after{ transform-origin:87.4% 0%; }
.featured-services02 span.fromLeft:after{ transform-origin:  0% 100%; }


.featured-services02 span:before{
	
content: '\F285';
position: absolute;
right: -14px;
top: 4px;
transition: all .3s ease;
font-family: bootstrap-icons !important;
font-weight: bold;
font-size:13px;
color:#0014d3;

}


.featured-services02 .icon-box:hover .title a,
.featured-services02 .icon-box:hover .description a, .featured-services .icon-box:hover span a{
  
}

.featured-services02 .icon-box:hover span:before {
	
position: absolute;
right: -20px;
top: 4px;

}

.featured-services02 .icon-box:hover span:after {

transform: scaleX(1);	
	
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#rd-projects {
  background: url("../img/about-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  position: relative;
}


#rd-projects::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 0;
}

#thematic {
  background: url("../img/hero-bg.jpg") center top no-repeat fixed;
  background-size: cover;
  position: relative;
  border-top: 4px solid #f5f5f5;
}


#thematic::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  display: block;
  background: none;
  border-radius: 0;
}

.skills .progress .skill {
  padding: 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e2eefd;
  height: 10px;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: 0.9s;
  background-color: #106eea;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 30px 0 45px;
}

.counts .count-box {
  padding: 30px 27px 25px 27px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #ebf3ff;
  border-radius:24px;
  transition: 0.3s ease;
}

.count-box:hover {background: #f6faff; box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.24); transition: 0.3s ease; cursor:pointer;}

.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #0053c1;
  color: #fff;
  width: 56px;
  height: 56px;
  line-height: 0;
  border-radius: 50px;
  border: 5px solid #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #062b5b;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight:500;
  font-style:italic;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {text-align: center;}

.clients img {transition: all 0.4s ease-in-out; display: inline-block; padding: 15px 0;}

.clients img:hover {transform: scale(1.15);}

@media (max-width: 768px) {
  .clients img {max-width: 40%;}
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  border: 1px solid #e2eefd;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f1f6fe;
  border-radius: 4px;
  border: 1px solid #deebfd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  color: #3b8af2;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
}

.services .icon-box:hover h4 a,
.services .icon-box:hover .icon i {
  color: #106eea;
}

.services .icon-box:hover .icon {
  border-color: #106eea;
}

/* Testimonials Section
--------------------------------*/
#testimonials {
  padding: 0px;
}

#testimonials .section-header {
  margin-bottom: 40px;
}

#testimonials .testimonials-carousel,
#testimonials .testimonials-slider {
  overflow: hidden;
}

@media (max-width: 767px) {
  #testimonials .testimonial-item {
    text-align: center;
  }
}

#testimonials .testimonial-item .testimonial-img {
width: 106px;
position: absolute;
bottom: 0px;
left: 0px;
}

#testimonials .testimonial-item .testimonial-img01 {
position: relative; width:100%;
}

#testimonials .testimonial-item .testimonial-img01 img{
width: 100%;
}

.p-pdng {padding: 16px 11px 0px 90px; margin:0px 0px 31px 0px;}
.swiper-slide a {color:#000000;}
.p-pdng01 {padding: 16px 11px 0px 12px; margin: 0px 0px 0px 0px; font-weight:600;}

@media (max-width: 767px) {
  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto;
  }
}

#testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
  margin-left: 140px;
}

#testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0 0 15px 0;
  margin-left: 140px;
}

#testimonials .testimonial-item p {
  font-style: italic;
  /*margin: 0 0 15px 140px;*/
}

#testimonials .testimonial-item p strong{
padding-top:5px; font-size:12px; display:block;
}

@media (min-width: 992px) {
  #testimonials .testimonial-item p {
width: 100%;
font-size: 11px;
line-height: 20px;
  }
}

@media (max-width: 767px) {

  #testimonials .testimonial-item h3,
  #testimonials .testimonial-item h4,
  #testimonials .testimonial-item p {
    margin-left: 0;
  }
}

#testimonials .swiper-pagination {
  bottom: 0px;
  position: absolute;
}

#testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #1bb1dc;
}

#testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1bb1dc;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
  color: #106eea;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #222222;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #555555;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #3c3c3c;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #106eea;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
  color: #6ba7f5;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}

.portfolio-details .portfolio-details-slider img {
  width: 100%;
}

.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #106eea;
}

.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #106eea;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(34, 34, 34, 0.08);
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 30px;
}

.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0;
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.team .member .member-img {
  position: relative;
  overflow: hidden;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #3b8af2;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

.pricing .box h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}

.pricing .box h4 {
  font-size: 36px;
  color: #106eea;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul i {
  color: #106eea;
  font-size: 18px;
  padding-right: 4px;
}

.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #106eea;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #3b8af2;
}

.pricing .featured h3 {
  color: #fff;
  background: #106eea;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #106eea;
  color: #fff;
}

/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding: 60px 0;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  border-bottom: 1px solid #d4e5fc;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.faq .faq-list .question {
  display: block;
  position: relative;
  font-family: #106eea;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-left: 25px;
  cursor: pointer;
  color: #0d58ba;
  transition: 0.3s;
}

.faq .faq-list i {
  font-size: 16px;
  position: absolute;
  left: 0;
  top: -2px;
}

.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 25px;
}

.faq .faq-list .icon-show {
  display: none;
}

.faq .faq-list .collapsed {
  color: black;
}

.faq .faq-list .collapsed:hover {
  color: #106eea;
}

.faq .faq-list .collapsed .icon-show {
  display: inline-block;
  transition: 0.6s;
}

.faq .faq-list .collapsed .icon-close {
  display: none;
  transition: 0.6s;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #106eea;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form .form-group {
  margin-bottom: 20px;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #106eea;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #106eea;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #3b8af2;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.pl-36 {padding-left:36px !important;}

#footer {
  color: #000;
  font-size: 13px;
  background: #fff;
}

#footer .footer-top {
padding: 52px 0 30px 0;
background: #f1f6fe;
border-top: 2px solid #e7f0fd;
border-bottom: 2px solid #e7f0fd;
}

.copyright {font-size: 11px; color:#333;}

#footer .footer-top .footer-contact {
  margin-bottom: 0px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #ad0051;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: #004aad;
  bottom: 0;
  left: 0;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: white;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #000;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #0018ff;
}

#footer .footer-newsletter {
}

#footer .footer-newsletter h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 5px 10px;
  position: relative;
  border-radius:20px;
  text-align: left;
}

#footer .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -1px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #b04633;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 20px 20px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Montserrat';
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.5px;
}

#footer .footer-newsletter form input[type=submit]:hover {
  background: #002f79;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #004aad;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 24px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #002f79;
  color: #fff;
  text-decoration: none;
}


/* Testimonials Section
--------------------------------*/
/* Testimonials Section
--------------------------------*/
#testimonials01 {
  background: url("../img/test-bg01.jpg") center top no-repeat fixed;
  background-size: cover;
  padding: 30px 0;
  position:relative;
}

#testimonials01::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.48);
  z-index: 0;
}

#testimonials01 .section-header {
  margin-bottom: 40px;
}

#testimonials01 .testimonials-carousel,
#testimonials01 .testimonials-slider {
  overflow: hidden;
}

#testimonials01 .testimonial-item {
  text-align: center;
}

#testimonials01 .testimonial-item .testimonial-img {
  width: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}

#testimonials01 .testimonial-item h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 16px 0 12px 0;
  color: #333;
}

#testimonials01 .testimonial-item h4 {
font-size: 14px;
color: #666;
margin: 12px 0 12px 0;
}

#testimonials01 .testimonial-item .quote-sign-left {
  margin-top: -15px;
  padding-right: 10px;
  display: inline-block;
  width: 37px;
}

#testimonials01 .testimonial-item .quote-sign-right {
  margin-bottom: -15px;
  padding-left: 10px;
  display: inline-block;
  max-width: 100%;
  width: 37px;
}

#testimonials01 .testimonial-item p {
  font-style: italic;
  margin: 0 auto;
  font-size:14px;
  line-height:28px;
  color:#000;
}


.testimonial-item p span {
  padding-bottom: 0px !important;
  display: inline-block;
  position: relative;
  padding-left:8px;
}

.testimonial-item p span a{
color:#0018ff; font-size:13px; font-weight:500; padding-bottom:0px !important;
}

.testimonial-item p span:after
{
display:block;
content: '';
border-bottom: solid 2px #0018ff;  
transform: scaleX(0);  
transition: transform 250ms ease-in-out;
display: block;
}

.testimonial-item p span:hover:after{}
.testimonial-item p span.fromRight:after{ transform-origin:87.4% 0%; }
.testimonial-item p span.fromLeft:after{ transform-origin:  0% 100%; }


.testimonial-item p span:before{
content: '\F285';
position: absolute;
right: -14px;
top: 2px;
transition: all .3s ease;
font-family: bootstrap-icons !important;
font-weight: bold;
font-size:13px;
color:#0014d3;
font-style:normal;
}


.testimonial-item p:hover span:before {
position: absolute;
right: -20px;
top: 2px;
transition: all .3s ease;
}

.testimonial-item p:hover span:after {transform: scaleX(1);}


@media (min-width: 992px) {
  #testimonials01 .testimonial-item p {
    width: 100%;
  }
}

#testimonials01 .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

#testimonials01 .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #18d26e;
}

#testimonials01 .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #18d26e;
}

.portfolio-blocks {}
  
.portfolio-blocks .sec-head .num .gr {
    font-size: 15vw;
    font-weight: 900;
    line-height: 1;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f4d3c7), to(transparent));
    background-image: -webkit-linear-gradient(top, #f4d3c7, transparent);
    background-image: -o-linear-gradient(top, #f4d3c7, transparent);
    background-image: linear-gradient(180deg, #f4d3c7, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
	
.portfolio-blocks .sec-head .num .thin {
    font-weight: 500;
    font-size: 80px; }

.portfolio-blocks .sec-head h3 {}

.portfolio-blocks .main-marq {
    position: relative;
    padding: 0; }

.portfolio-blocks .main-marq .slide-har {display: -webkit-box; display: -ms-flexbox; display: flex;}

.portfolio-blocks .main-marq .box {display: -webkit-box; display: -ms-flexbox; display: flex; }

.portfolio-blocks .main-marq .box .item {width: 124px; padding: 0 12px; border: 1px dashed #b9c6db;}

.portfolio-blocks .main-marq .box .item img {height: auto; width: 100%;}

.portfolio-blocks .swiper-container {width: 120%; margin-left: -10%;}

.portfolio-blocks .swiper-slide {padding: 50px 0;}

.portfolio-blocks .swiper-slide img {-webkit-box-shadow: 0px 15px 50px rgba(8, 12, 40, 0.1);
 box-shadow: 0px 15px 50px rgba(8, 12, 40, 0.1); border-radius: 10px;}

.respons .img {position: relative;}

.respons .img:after {
    content: '';
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: -webkit-linear-gradient(340deg, #f3bc91, transparent);
    background: -o-linear-gradient(340deg, #f3bc91, transparent);
    background: linear-gradient(110deg, #f3bc91, transparent);
    opacity: .2;
    z-index: -1; }

.best-feat {
  background: #15171f;
  padding-bottom: 70px; }
  .best-feat .item {
    padding: 40px;
    background: rgba(255, 255, 255, 0.01);
    height: 100%; }
    .best-feat .item .icon {
      margin-bottom: 30px; }
      .best-feat .item .icon i {
        width: 55px;
        height: 55px;
        line-height: 55px;
        text-align: center;
        font-size: 25px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: #fff; }
    .best-feat .item h6 {
      margin-bottom: 10px;
      font-weight: 500;
      color: #fff; }
    .best-feat .item p {
      font-weight: 300;
      color: #d6d7da; }

.all-feat {
  background: #15171f;
  padding: 100px 0;
  position: relative;
  overflow: hidden; }
  .all-feat:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(bottom, #15171f, rgba(255, 255, 255, 0) 220px, rgba(255, 255, 255, 0) calc(100% - 220px), #15171f);
    background: -o-linear-gradient(bottom, #15171f, rgba(255, 255, 255, 0) 220px, rgba(255, 255, 255, 0) calc(100% - 220px), #15171f);
    background: linear-gradient(to top, #15171f, rgba(255, 255, 255, 0) 220px, rgba(255, 255, 255, 0) calc(100% - 220px), #15171f);
    pointer-events: none; }
  .all-feat .main-marq {
    position: relative;
    padding: 0; }
    .all-feat .main-marq .slide-har {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .all-feat .main-marq .box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .all-feat .main-marq .box .item {
        padding: 25px 40px;
        background: rgba(255, 255, 255, 0.01);
        color: #fff;
        margin: 15px;
        border-radius: 5px; }
        .all-feat .main-marq .box .item h6 {
          font-size: 14px;
          font-weight: 400;
          white-space: nowrap;
          margin-left: 15px; }

.slide-har {
  position: relative; }
  .slide-har.st1 .box {
    position: relative;
    -webkit-animation: slide-har 50s linear infinite;
    animation: slide-har 50s linear infinite; }
  .slide-har.st2 .box {
    position: relative;
    -webkit-animation: slide-har-revers 50s linear infinite;
    animation: slide-har-revers 50s linear infinite; }

@-webkit-keyframes slide-har {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes slide-har {
  0% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@-webkit-keyframes slide-har-revers {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }

@keyframes slide-har-revers {
  100% {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); }
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%); } }